body {
    background-color: rgb(29, 29, 29);
}

.calculator {
    font-family:Arial, Helvetica, sans-serif;
    border-radius:10px;
    font-size: 0px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(68, 68, 68);
    color: aliceblue;
    width: 400px;
    height: 550px;
}

.calculator-display {
    text-align: right;
    border-radius: 10px;
    font-size: 72px;
    margin: 20px;
    margin-bottom: 10px;
    flex-shrink:0;
    width: calc(100% - 44px);
    height: 30%;
    max-height: 130;
    
}

#display-previous {
    font-size: 24px;
    min-height: 28px;
}

#display-current {
    margin-top: 10px;
    margin-bottom: 10px;
}



#display-previous,
#display-current {

    margin-right: 20px;
}


.calculator-buttons {
    margin: 20px;
    justify-content: center;
    width: 100%;
    height: 70%;
}

/*
button size = (.calculator width - .calculator-buttons margin)/buttons per row - button margin
= (400 - 40)/5 - 4
= 
*/
.calculator-buttons button {
    background-color: rgb(163, 163, 163);
    color: aliceblue;
    font-size: 32px;
    margin: 2px;
    width: 68px;
    height: 68px;
    border: 0px;
    border-radius: 10px;
}

#button-clear, 
#button-equals {
    width: 140px;
    height: 68px;
}


.calculator-buttons .operator,
.calculator-buttons .clear {
    background-color: lightblue;
}

/*Using important b/c changing the style attribute via javascript comes later in the
cascade, therefore, to increase the css hover priority, we use !important */
.calculator-buttons button:hover {
    background-color: white !important;
    color: gray !important;
    cursor: pointer;
}


