body {
    background-color: rgb(31, 30, 30);
}

.calculator {
    font-family:Arial, Helvetica, sans-serif;
    border-radius:10px;
    font-size: 0px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    color:aliceblue;
    width: 400px;
    height: 600px;
}

.calculator-display {
    text-align: right;
    border: solid 2px aliceblue;
    border-radius: 10px;
    font-size: 36px;
    margin: 20px;
    margin-bottom: 10px;
    flex-shrink:0;
    width: calc(100% - 44px);
    height: 30%;
    
}

#display-previous {
    font-size: 24px;
    min-height: 28px;
}



#display-previous,
#display-current {

    margin-right: 20px;
}


.calculator-buttons {
    margin: 20px;
    justify-content: center;
    width: 100%;
    height: 70%;
}

/*
button size = (.calculator width - .calculator-buttons margin)/buttons per row - button margin
= (400 - 40)/5 - 4
= 
*/
.calculator-buttons button {
    background-color: lightblue;
    color: aliceblue;
    font-size: 32px;
    margin: 2px;
    width: 68px;
    height: 68px;
    border: solid 2px;
    border-radius: 10px;
}

.calculator-buttons :hover {
    background-color: rgb(190, 220, 230);
    cursor: pointer;
}

#button-clear, 
#button-equals {
    width: 140px;
    height: 68px;
}